certifi==2018.1.18
chardet==3.0.4
click==6.7
coverage==4.5.1
idna==2.6
olefile==0.45.1
Pillow==5.0.0
pur==4.0.3
py==1.5.2
pytest==3.4.0
pytest-sugar==0.9.1
python-dateutil==2.6.1
requests==2.18.4
six==1.11.0
squareconnect==2.5.1
termcolor==1.1.0
urllib3==1.22
